# Dependencies 
frontend/node_modules
backend/node_modules
node_modules

# Git
.git

# Build artifacts
frontend/dist
frontend/web-build
frontend/.expo
frontend/android
frontend/ios

# Logs
*.log

# IDE
.vscode
.idea

# Large media files
*.mp4
*.mp3
*.zip
*.tar

# macOS
.DS_Store
